.features {
    @include adaptiveClamp(padding-top, 128, 64);
    @include adaptiveClamp(padding-bottom, 128, 64);
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: rem(737);
        height: rem(785);
        background: url(@img/features-fon.png) no-repeat center center / contain;
        top:rem(245);
        right: 0;
        @media(max-width:1530px){
            top:rem(120);
            right: rem(-200);
        }
        @media(max-width:1040px){
            right: rem(-460);
        }
        @media(max-width:600px){
            display: none;
        }
    }
    &__container {
    }

    &__title {
        
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width:1040px){
            flex-direction: column;
            gap: rem(80);
        }
        @media(max-width:600px){
            gap: rem(40);
        }
    }

    &__img {
        position: relative;
        display: flex;
        justify-content: center;
        max-width: rem(664);
        width: 100%;
        @media(max-width:1315px){
            max-width: rem(499);
        }
        @media(max-width:600px){
            max-width: rem(328);
        }
    }

    &__tel-img {
        width: rem(531);
        @media(max-width:1315px){
            width: rem(400);
        }
        @media(max-width:600px){
            width: rem(263);
        }
    }

    &__text-img {
        position: absolute;
        bottom: rem(74);
        left: 0;
        width: rem(400);
        @media(max-width:1315px){
            width: rem(301);
            bottom: rem(55);
        }
        @media(max-width:600px){
            width: rem(198);
            bottom: rem(36);
        }
    }

    &__messages-img {
        position: absolute;
        top: rem(195);
        right: 0;
        width: rem(221);
        @media(max-width:1315px){
            width: rem(166);
            top: rem(147);
        }
        @media(max-width:600px){
            width: rem(110);
            top: rem(98);
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: rem(40);
        max-width: rem(595);
        @media(max-width:1315px){
            max-width: rem(500);
        }
        @media(max-width:1040px){
            max-width: rem(720);
            width: 100%;
            // align-items: center;
        }   
        h3 {
            font-weight: 600;
            font-size: rem(30);
            text-transform: uppercase;
            @media(max-width:1315px){
                font-size: rem(24);
            }
            @media(max-width:1040px){
                text-align: center;
            }
            @media(max-width:600px){
                font-size: rem(18);
            }
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: rem(24);
       
    }

    &__item {
        display: flex;
        align-items: start;
        gap: rem(16);
        img {
            width: rem(24);
            height: rem(28);
        }
        p {
            font-weight: 300;
            font-size: rem(24);
            @media(max-width:1315px){
                font-size: rem(20);
            }
            @media(max-width:750px){
                @include adaptiveClamp(font-size, 20, 16);
            }
            
        }

    }

    &__button-row {
        display: flex;
        gap: rem(16);
        align-items: center;
        @media(max-width:1315px){
            flex-direction: column;
            max-width: rem(413);
            align-items: start;
        }
        @media(max-width:1040px){
            margin: 0 auto;
            min-width: rem(413);
        }
        @media(max-width:600px){
            min-width: 0;
        }
    }

    &__button {
        // max-width: rem(155);
        // width: 100%;
        .button__icon {
            padding: 0 rem(24);
            gap: rem(22);
        }
        @media(max-width:1315px){
            display: none;
        }
    }
    .about__button {
        text-align: center;
        width: 100%;
        &:hover {
            .button__icon {
                padding: 0 rem(19);
            }
        }
        
        @media(min-width:1316px){
            display: none;
        }
        @media(max-width:555px){
            max-width: rem(328);
            margin: 0 auto;
            
            &:hover {
                .button__icon {
                    padding: 0 rem(12.5);
                }
            }
        }
    }

    &__select {
        @media(max-width:600px){
            // display: none;
        }
    }

    &__bot-text {
        text-align: center;
        width: 100%;
        font-size: rem(14);
        font-weight: 300;
        @media(min-width:601px){
            display: none;
        }
    }
}
.button {

    &__icon {
    }
}
.select {

    &__input {
    }

    &__head {
    }

    &__list {
    }

    &__item {
    }
}
