
.request {
  &__form {
      max-width: rem(492);
      width: 100%;
      display: flex;
      @media(max-width:550px){
          // max-width: 100%;
      }
  }

  &__input {
      padding: rem(20) rem(32) rem(19);
      font-size: rem(20);
      font-weight: 300;
      color: #292758;
      border-radius: 16px 0px 0px 16px;
      border-top: 2px solid rgba(128, 96, 246, 0.80);
      border-bottom: 2px solid rgba(128, 96, 246, 0.80);
      border-left: 2px solid rgba(128, 96, 246, 0.80);
      width: rem(394);
      transition: all 0.5s ease  0s;
      line-height: 100%;
      height: rem(60);
      @media(max-width:550px){
          padding: rem(16) rem(24) rem(15);
          height: rem(50);
          font-size: rem(18);
          width: 100%;
      }
      @media(max-width:520px){
      }
  }
  &__input:focus {
      border-top: 2px solid #8060F6;
      border-bottom: 2px solid #8060F6;
      border-left: 2px solid #8060F6;
  }
  &__input::placeholder {
      color: rgba(128, 96, 246, 0.40);
  }
  &__button-form {
      position: relative;
      // display: block;
      height: rem(60);
      border-radius: 0px 16px 16px 0px;
      font-size: rem(20);
      padding: rem(15.5) rem(32) rem(14.5);
      margin-left: rem(-1);
      pointer-events: none;
      overflow: hidden;
      background: #8060F6;
      transition: all 0.5s ease  0s;
      z-index: 1;
      span {
          position: relative;
          color: #FFF;
          font-weight: 700;
          line-height: 100%;
          z-index: 2;
      }
      @media(max-width:550px){
          padding: rem(10.5) rem(24) rem(10.5) rem(20);
          height: rem(50);
          span {
              font-size: rem(18);
          }
      }
      &::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          background: var(--Gradient-Light, linear-gradient(114deg, #A088FB 0%, #B8A6FB 100%));
          top:0;
          left: 0;
          z-index: 0;
          transition: all 0.3s ease  0s;
      }
      .unlock & {
          pointer-events: all;
          &::before {
              opacity: 0;
          }
      }  
  }
}
.footer {
  padding: rem(64) 0;
  background: var(--black-color);
  font-size: rem(14);
  @media(max-width:550px){
    padding: rem(40) 0;
  }
  // .footer__container
  &__container {
   
  }
  &__row {
    display: flex;
    justify-content: space-between;
    // @media(max-width:700px){
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr;
    //     gap: rem(40) rem(100);
    // }
    // @media(max-width:650px){
    //   grid-template-columns: 1fr 1fr;
    //   gap: rem(40);
    // }
    // @media(max-width:400px){
    //   gap: rem(40) rem(20);
    // }
    @media(max-width:1000px){
        flex-wrap: wrap;
        gap: rem(40);
    }
    @media(max-width:630px){
        flex-direction: column;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    max-width: rem(279);
    color: var(--white-color);
    // gap: rem(24);
    // @media(max-width:920px){
    //   max-width: rem(162);
    // }
  }

  &__logo {
    width: rem(114);
    margin-bottom: rem(40);
    img {
      width: 100%;
    }
    @media(max-width:1280px){
        margin-bottom: rem(24);
    }
    @media(max-width:400px){
        width: rem(76);
    }
  }

  &__text {
    color: var(--white-color);
    font-weight: 300;
    margin-bottom: rem(8);
    font-size: rem(16);
  }
  &__link {
    display: flex;
    align-items: center;
    gap: rem(8);
    cursor: pointer;
    img {
      width: rem(20);
    }
  }
  &__technical {
    margin-top: auto;
    color: var(--white-color);
    font-size: rem(12);
    font-weight: 600;
    min-width: rem(240);
    a {
      background: var(--Gradient-Light, linear-gradient(114deg, #A088FB 0%, #B8A6FB 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__item {
  }

  &__item-form {
    @media(max-width:1000px){
      display: flex;
      flex-direction: column;
      justify-content: end;
    }
  }

  &__bottom {
    margin-top: rem(40);
    display: flex;
    flex-direction: column;
    gap: rem(40);
  }
}
.item-footer {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  input {
    background: var(--black-color);
    color: rgb(128, 96, 246);
  }
  form {
    @media(max-width:1400px){
        max-width: rem(400);
    }
    @media(max-width:1000px){
        max-width: rem(347);
    }
    @media(max-width:630px){
        max-width: rem(450);
    }
    @media(max-width:550px){
      max-width: rem(400);
    }
  }
  &__title {
    // background: var(--Gradient-Light, linear-gradient(114deg, #A088FB 0%, #B8A6FB 100%));
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-size: rem(20);
    font-weight: 300;
    color: var(--white-color);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }

  &__item {
  }
  
  &__link {
    color: var(--white-color);
    font-weight: 600;
    transition: all 0.3s ease  0s;
    &:hover {
      color: #B8A6FB;
      text-shadow: 1px 1px 7px #7650ffcf;
    }
  }
  &__social-row {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    @media(max-width:1000px){
        gap: rem(16);
    }
  }
    .menu__social {
      justify-content: start;
      @media(max-width:1000px){
          justify-content: end;
      }
      @media(max-width:630px){
        justify-content: start;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      // gap: rem(10);
      p {
        color: var(--white-color);
      }
      a, p {
        font-size: rem(16);
        font-weight: 700;
      }
      @media(max-width:1000px){
          text-align: left;
      }
     
    }
    @media(max-width:1000px){
      gap: rem(16);
      text-align: right;
      &:last-child {
        flex: 0 1 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: end;
      }
    }
    @media(max-width:630px){
      text-align: left;
      &:last-child {
        gap: rem(40);
        flex: 0 1 100%;
        flex-direction: column;
        align-items: start;
      }
    }
}


