.get {
    @include adaptiveClamp(padding-top, 128, 64);
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: rem(885);
        height: rem(737);
        background: url(@img/get-fon.png) no-repeat center center / contain;
        left: 50%;
        transform: translateX(-50%);
        @include adaptiveClamp(top, 152, 40);
    }
    &__container {
    }

    &__title {
        @media(max-width:450px){
            max-width: rem(300);
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__row {
        display: flex;
        gap: rem(16);
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: rem(80);
        @media(max-width:1500px){
            max-width: rem(1300);
            margin-left: auto;
            margin-right: auto;
        }
        @media(max-width:1200px){
            margin-bottom: rem(64);
        }
        @media(max-width:1040px){
            max-width: rem(720);
        }
        @media(max-width:678px){
            max-width: rem(500);
        }
        @media(max-width:600px){
            margin-bottom: rem(40);
            max-width: rem(350);
        }
    }

    &__item {
        padding: rem(8) rem(16);
        display: flex;
        align-items: center;
        gap: rem(10);
        background-color: var(--white-color);
        border: 2px solid #8060F6;
        border-radius: 12px;
        img {
            width: rem(24);
            height: rem(24);
        }
        p {
            font-size: rem(40);
            font-weight: 500;
            text-transform: uppercase;
            @media(max-width:1500px){
                font-size: rem(32);
            }
            @media(max-width:1040px){
                font-size: rem(24);
            }
            @media(max-width:600px){
                font-size: rem(14);
            }
        }
        @media(max-width:678px){
            &:nth-child(3) {
                max-width: rem(350);
            }
        }
        @media(max-width:600px){
            padding: rem(6) rem(12);
            &:nth-child(3) {
                max-width: rem(236);
            }
        }
    }

    &__button-row {
        display: flex;
        width: 100%;
        max-width: 100%;
        align-items: center;
        flex-direction: column;
    }

    &__button {
        max-width: rem(328);
        width: 100%;
        .button__icon {
            gap: rem(19);
        }
    }
}
.violet {
}
.about {

    &__button-row {
    }

    &__button {
    }
}
.button {

    &__icon {
    }
}
