.header {
  width: 100%;
  transition: background-color var(--bs-transition);
  position: relative;
  z-index: 50;
  background-color: #292758;

  border-bottom: 1px solid;
  border-image-source: linear-gradient(114.23deg, #A088FB 0%, #B8A6FB 100%);


  box-shadow: 0px -0.12109px 4.1625px 0px rgba(6, 0, 22, 0.02), 0px 6.00625px 11.7px 0px rgba(6, 0, 22, 0.04), 0px 24.63047px 31.3875px 0px rgba(6, 0, 22, 0.05), 0px 62px 72px 0px rgba(6, 0, 22, 0.07);

  // .header__container
  &__container {
    height: rem($headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 rem(40);
    position: relative;
    z-index: 50;
    
    @media(max-width:1260px){
      padding: 0 rem(24);
    }
    @media(max-width:550px){
      padding: 0 rem(16);
    }
    @media(max-width:580px){
        height: rem(84);
    }
    // .header-is-sticky & {
    //   height: rem($headerHeight - 50);
    // }
  }

  &__logo {
    width: rem(114);
    img {
      width: 100%;
    }
    @media(max-width:750px){
      width: rem(76);
    }
  }

  &__menu {
  }

  // &__language {
  //   display: flex;
  //   gap: rem(10);
  //   justify-content: end;
  //   align-items: center;
  //   // min-width: rem(114);

  //   //пока нету второго языка
  //   // min-width: rem(80);
  //   pointer-events: none;
  //   flex-direction: row-reverse;
  //   //пока нету второго языка
  //   @media(max-width:750px){
  //       display: none;
  //   }
  //   //
  //   a {
  //     font-weight: 300;
  //     color:rgba(128, 96, 246, 0.40);
  //     font-size: rem(20);
  //     cursor: pointer;

  //     transition: all 0.2s ease-in-out  0s;
  //     &:hover {
  //       color:rgba(128, 96, 246, 0.80);
  //     }
  //     &:nth-child(2) {
  //       display: none;
  //     }
  //   }
  //   a.active {
  //     color: var(--white-color);
  //     font-weight: 600;
  //     &:hover {
  //       color:rgba(246, 244, 255, 0.8);
  //     }
  //   }
  //   @media(max-width:1150px){
  //     min-width: 0;
  //   }
  //   @media(max-width:750px){
  //     gap: rem(24);
  //     a {
  //       font-weight: 600;
  //       font-size: rem(24);
  //     }
  //   }
  // }
}
.logo {
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media(max-width:1000px){
      position: relative;
      width: auto;
  }
  @media(max-width:750px){
      position: fixed;
      top: rem(101);
      left: auto;
      right: -100%;
      width: 100%;
      height: 100%;
      padding: rem(40) rem(16) rem(141);
      background: linear-gradient(42deg, #292758 0%, #3A1FA0 100%);
      // background: #292758;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 40;
      transition: all 0.3s ease-in-out  0s;
      .menu-open & {
        right: 0;
      }
      
      @media(max-width:400px){
        &::before {
          position: absolute;
          content: '';
          width: rem(360);
          height: rem(550);
          background: url(@img/gradient-fon.png) no-repeat center center / contain;
          top:0;
          right: 0;
      }
      }
  }
  @media(max-width:580px){
    top: rem(85);
    padding: rem(40) rem(16) rem(125);
  }
  &__bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(40);
    @media(min-width:751px){
        display: none;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(24);
    a {
      img {
        width: rem(24);
        transition: all 0.2s ease-in-out  0s;
      }
      &:active {
        img {
          filter: contrast(150);
        }
      }
    }
  }
  &__list {
    display: flex;
    gap: rem(64);
    @media(max-width:1150px){
        gap: rem(32);
    }
    @media(max-width:750px){
        width: 100%;
        align-items: center;
        flex-direction: column;
        gap: rem(40);
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__link {
    top: 0;
    color: var(--white-color);
    font-size: rem(20);
    font-weight: 600;
    @media(max-width:750px){
      font-size: rem(32);
    }
    transition: all 0.3s ease-in-out  0s;
    cursor: pointer;
    &:hover {
      transform: scale(1.04);
      // letter-spacing: 5px;
      text-shadow: 0px 1px 7px #ffc14fd6;
    }
  }
  &__item-button {
    cursor: pointer;
    padding: rem(2) rem(2);
    border-radius: 16px;
    background: linear-gradient(95.26deg, #FFFD4F 0.23%, #FFC24F 100.23%);
    transition: all 0.2s ease-in  0s;
    
    &:hover {
      a {
        text-shadow: 0px 1px 7px #ffc14fd6;
      }
    }
    a {
      display: inline-block;
      padding: rem(11) rem(16.1) rem(10);
      border-radius: 15px;
      background-color: #292758;
      font-weight: 900;
      &:hover {
        transform: scale(1);
        // letter-spacing: 5px;
        text-shadow: 0px 1px 7px #ffc14fd6;
      }
      
    }
    @media(max-width:750px){
      max-width: rem(328);
      width: 100%;
      a {
        padding: rem(21) rem(18.1) rem(19);
        text-align: center;
        width: 100%;
        font-size: rem(24);
      }
    }
    @media(max-width:440px){
      max-width: rem(330);
      width: 100%;
      a {
        width: 100%;
        text-align: center;
      }
    }
  }
  
}
.active {
}

// Burger

.icon-menu {
  display: none;

  @include media-mx(750) {
    display: block;
    position: relative;
    width: rem(19);
    height: rem(17);
    cursor: pointer;
    z-index: 5;
    background: none;
    transition: all 300ms ease 0ms;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(1.5);
      border-radius: 6px;
      background-color: var(--white-color);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
      width: 65%;
    }

    .menu-open & {
      transform: rotate(180deg);
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(0.6));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

