@font-face {
	font-family: CodecPro;
	font-display: swap;
	src: url("../fonts/CodecPro-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: CodecPro;
	font-display: swap;
	src: url("../fonts/CodecPro-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: CodecPro;
	font-display: swap;
	src: url("../fonts/CodecPro-Fat.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: CodecPro;
	font-display: swap;
	src: url("../fonts/CodecPro-Heavy.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: CodecPro;
	font-display: swap;
	src: url("../fonts/CodecPro-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: CodecPro;
	font-display: swap;
	src: url("../fonts/CodecPro-News.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: CodecPro;
	font-display: swap;
	src: url("../fonts/CodecPro-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: CodecPro;
	font-display: swap;
	src: url("../fonts/CodecPro-Ultra.woff2") format("woff2");
	font-weight: undefined;
	font-style: normal;
}
